@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash-Be-Gone</h1>
    <p class="lead">The days of standard trash collection are over! Join Trash-Be-Gone in our effort to disrupt the status quo.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why use Trash-Be-Gone?</h2>
        <p>
            The biggest reason...Convenience! 
            Why let the city tell you when your garbage will be picked up, when you can choose when works best for you?
            Gone for vacation? No problem, we'll wait until you specify when your back and ready for a pickup!
            Having a fiesta? Let us know at least 24 hours in advance and we'll make sure the trash gets picked up the following day!
            No matter the reason, if your ready for your trash to be gone we'll be there.
        </p>
        <p><a class="btn btn-default" href="http://localhost:4737/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedule a Pickup</h2>
        <p>Set or change a pickup for as many days or weeks in advance as you like to fit your schedule.</p>
        <p>Cost per pickup: $10</p>
        <p><a class="btn btn-default" href="http://localhost:4737/Users">Schedule &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Location</h2>
        <p>This affordable solution to trash collection is now serving the great city of Milwaukee! .</p>
        <p><a class="btn btn-default" href="http://localhost:4737/Account/Register">Sign up now! &raquo;</a></p>
    </div>
</div>